{% extends "base.html" %}
{% block title %}Author's post{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Author's name -->
                                    {{ post.author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- Author's username -->
                                     {{ post.author.get_username }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Followers: {{ followers_count }} <br />
                                        Following: {{ following_count }}
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!-- Posts count -->
                                            Posts count: {{ posts_count }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Post -->  
                <div class="card mb-3 mt-1 shadow-sm">
                        {% load thumbnail %}
                        {% thumbnail post.image "960x440" crop="center" upscale=True as im %}
                                <img class="card-img" src="{{ im.url }}">
                        {% endthumbnail %}
                        <div class="card-body">
                                <p class="card-text">
                                        <!-- Link to the author's page in the href attribute; author's username in link text -->
                                        <a href="/{{ post.author.get_username }}/"><strong class="d-block text-gray-dark">@{{ post.author.get_username }}</strong></a>
                                        <!-- Post text -->
                                        {{ post.text }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        {% if post.author.get_username == user.username %}
                                        <div class="btn-group ">
                                                <!-- Edit link, is shown only to the posts author -->
                                                <a class="btn btn-sm text-muted" href="/{{ author.get_username }}/{{ post.id }}/edit" role="button">Edit post</a>
                                        </div>
                                        {% endif %}
                                        <!-- Pub date  -->
                                        <small class="text-muted">{{ post.pub_date|date:"d M Y H:i"}}</small>
                                </div>
                                {% include 'comments.html' %}
                        </div>
                </div>
     </div>
    </div>
</main>
{% endblock %}