{% extends "base.html" %}
{% block title %}Профиль автора{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ author.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         {{ author.get_username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ followers_count }}  <br />
                                            Подписан: {{ following_count }}
                                            </div>
                                    </li>
                                    {% if following != 'Self' %}
                                    <li class="list-group-item">
                                        {% if following == True %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' author.username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' author.username %}" role="button">
                                        Подписаться 
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ posts_count }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">

                <!-- Повторяющиеся записи --> 
                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}
                <!-- Остальные посты -->
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
     </div>
    </div>
</main>
{% endblock %}